<div class="row" *ngIf="getProductos().length == 0">
    <div class="col-12 bg-danger">
        No hay productos
    </div>
</div>
<div class="row" *ngFor="let item of getProductos()">
    <div class="col-2">
        {{ item.nombre }}
    </div>
    <div class="col-1">
        {{ item.precio }}
    </div>
    <div class="col-2">
        {{ item.categoria }}
    </div>

</div>


<input type="text" #nombreproducto>

<div class="col-2">
    <button [disabled]=eliminado (click)="eliminar(nombreproducto.value)" type="button" name="eliminar[]" id="eliminar[]"
            class="btn btn-primary" btn-lg btn-block>Eliminar</button>
</div>



<div class="warning bg-warning" *ngIf="eliminado!=null">
        Elemento eliminado: {{eliminado.nombre}}, {{eliminado.precio}}, {{eliminado.categoria}}
</div>
<div class="warning bg-warning" *ngIf="!encontrado">
    Producto no encontrado.
</div>