<div class="row">
    <div class="col-12 bg-info">
        Número de productos: {{ productos.length }}
    </div>
</div>

<div class="row" *ngIf="getProductos().length == 0">
    <div class="col-12 bg-danger">
        No hay productos
    </div>
</div>
<div class="row" *ngFor="let item of getProductos()">
    <div class="col-2">
        {{ item.nombre }}
    </div>
    <div class="col-1">
        {{ item.precio }}
    </div>
    <div class="col-2">
        {{ item.categoria }}
    </div>

</div>

<form class="col" #form="ngForm" (ngSubmit)="eliminar(nombreproducto.value)">
    <input type="text" required #nombreproducto  name="nombreproducto" ngModel>
    <div class="col-2">
        <button [disabled]="!form.valid" (click)="eliminar(nombreproducto.value)" type="submit" name="eliminar[]" id="eliminar[]"
                class="btn btn-primary">Eliminar</button>
    </div>
</form>


<div class="warning bg-warning col-2" *ngIf="eliminado!=null">
        Elemento eliminado: {{eliminado.nombre}}, {{eliminado.precio}}, {{eliminado.categoria}}
</div>
<div class="warning bg-warning col-2" *ngIf="!encontrado">
    Producto no encontrado.
</div>