<form class="col" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <p class="bg-info">Introduce un nuevo producto:</p>
    <input class="col" #nombreProducto placeholder="Nombre" type="text" minlength="1" name="nombre" required [(ngModel)]="datosProducto.nombre">
<!--    value="{{ usuario.nombre}}"-->
<!-- name es para el objeto ngModel-->
    <input class="col" #precioProducto placeholder="Precio" type="number" min="1" name="precio" required [(ngModel)]="datosProducto.precio">
    <br>

    <input class="col" #categoriaProducto placeholder="Categoría" type="text" minlength="1" name="categoria" required [(ngModel)]="datosProducto.categoria">
    <br>


    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enviar</button>
    <br>

    <!--    (keyup)="0" -> aparece automaticamente en el input-->
</form>


{{datosProducto | json}}

<!--tutorial ONE WAY BINDING
&lt;!&ndash;property&ndash;&gt;
<p>Empresa del empleado: {{ empresa }}</p>
<br>
&lt;!&ndash;event&ndash;&gt;
<label>One way binding</label>
<input type="text" (input)="cambiaEmpresa($event)">
<br>
<label>Two way binding</label>
&lt;!&ndash;TWO WAY BINDING > NgModel&ndash;&gt;
<input type="text" [(ngModel)]="empresa">-->
