<form class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input class="col" #nombreProducto placeholder="Nombre" type="text" name="nombre" required [(ngModel)]="datosProducto.nombre">
<!--    value="{{ usuario.nombre}}"-->
<!-- name es para el objeto ngModel-->
    <input class="col" #precioProducto placeholder="Precio" type="number" name="precio" required [(ngModel)]="datosProducto.precio">


    <input class="col" #categoriaProducto placeholder="Categoría" type="text" name="categoria" required [(ngModel)]="datosProducto.categoria">


    <button type="submit" >Enviar</button>
<!--    (keyup)="0" -> aparece automaticamente en el input-->
</form>


{{datosProducto | json}}

<!--tutorial ONE WAY BINDING
&lt;!&ndash;property&ndash;&gt;
<p>Empresa del empleado: {{ empresa }}</p>
<br>
&lt;!&ndash;event&ndash;&gt;
<label>One way binding</label>
<input type="text" (input)="cambiaEmpresa($event)">
<br>
<label>Two way binding</label>
&lt;!&ndash;TWO WAY BINDING > NgModel&ndash;&gt;
<input type="text" [(ngModel)]="empresa">-->
